body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto 20px;
  z-index: 5;
}

.task-card:hover {
  cursor: grab;
}

.card-body {
  min-height: 15vh;
}

.overdue {
  background-color: rgba(255, 157, 173, 0.87);
}
.overdue .card-header {
  background-color: rgba(255, 92, 92, 0.75);
}

.dueSoon {
  background-color: rgba(255, 255, 15, 0.575);
}
.dueSoon .card-header {
  background-color: rgb(255, 255, 33);
}

.dueLater {
  background-color: rgba(0, 225, 255, 0.5);
}
.dueLater .card-header {
  background-color: rgba(0, 225, 255, 0.836);
}

#done-cards .task-card {
  background-color: rgba(0, 190, 0, 0.514);
}
#done-cards .card-header {
  background-color: rgba(0, 158, 0, 0.836);;
}
