body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
  z-index: 5;
}

.task-card:hover {
  cursor: grab;
}

.card-body {
  width: inherit;
  height: inherit;
}

.overdue {
  background-color: rgba(255, 92, 92, 0.75);
}

.overdue .card-header {
  background-color: rgba(255, 157, 173, 0.87);
}

#done-cards .task-card {
  background-color: green;
}

#done-cards .card-header {
  background-color: green;
}
